/*
 * FORM
 */

.form-wrapper {
  width: fit-content;
  margin: 0 auto;
}

.form__save {
  margin-top: 20px;
}

.form__save-button {
  height: 2em;
}

.form__start-and-accept {
  margin-top: 20px;
}

.start-and-accept__header {
  padding: 2px 10px 2px 0;
}

.start-and-accept__data {
  padding: 2px 4px;
}

/*
 * TABLE
 */

.table {
  border-collapse: collapse;
  margin-top: 20px;
}

.table__symbol,
.table__state {
  border: 1px solid #ccc;
}

.table__symbol {
  font-size: 18px;
  padding: 2px 10px 10px 10px;
}

.table__state {
  font-size: 18px;
  text-align: center;
  padding: 0 10px 10px 10px;
}

.table__state--target {
  padding: 10px;
}

.table__symbol-text,
.table__state-text {
  margin: 0;
}

.table__addition {
  text-align: center;
  padding: 20px;
}

.table__addition .table__addition-button {
  height: 2em;
}

.table__removal .table__removal-button {
  height: 2em;
}

.table__state-select {
  font-size: 16px;
}
